<div class="row">

  <div class="col-6 text-center" style="padding: 20px; background-color: #f2f2f2">
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, style: "width:150px; height:150px; border-radius: 100%" %>
    <% end %>
    <h1><%= @user.username %></h1>
    <h4><%= @user.email %></h4>
    <h2><%= @user.bio %></h2>

    <% if current_user.following?(@user) %>
    <%= button_to "Unfollow", unfollow_path(@user) %>
      <% elsif current_user.sent_follow_request_to?(@user) %>
    <%= button_to "Cancel follow request", cancel_path(@user) %>
      <% else %>
    <%= button_to "Follow", follow_path(@user) %>
    <% end %>
  </div>
</div>

